@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #343541;
  color: white;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
